In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("./sae_models/baseline/experiment_results.csv")

In [4]:
df.query("layer_name == 'first_layer'")

    layer_name    l1_penalty  accuracy   sparsity
0  first_layer  5.000000e-05     29.54  99.823107
1  first_layer  1.000000e-05     32.54  99.442596
2  first_layer  5.000000e-06     33.21  99.134986
3  first_layer  1.000000e-06     36.89  96.993061
4  first_layer  5.000000e-07     37.64  93.524023
5  first_layer  1.000000e-07     39.60  66.066627
6  first_layer  5.000000e-08     38.52  60.304428
7  first_layer  1.000000e-08     34.56  59.390170
8  first_layer  5.000000e-09     34.20  59.572715
9  first_layer  1.000000e-09     33.27  59.021986

In [5]:
df.query("layer_name == 'middle_layer'")

      layer_name    l1_penalty  accuracy   sparsity
10  middle_layer  5.000000e-04     58.79  99.801328
11  middle_layer  1.000000e-04     87.87  97.908541
12  middle_layer  5.000000e-05     90.89  95.646111
13  middle_layer  1.000000e-05     94.35  79.229219
14  middle_layer  5.000000e-06     94.60  64.714691
15  middle_layer  1.000000e-06     95.01  32.622746
16  middle_layer  5.000000e-07     95.12  27.613094
17  middle_layer  1.000000e-07     94.99  22.453408
18  middle_layer  5.000000e-08     94.32  22.124768
19  middle_layer  1.000000e-08     94.16  20.748037

In [6]:
df.query("layer_name == 'last_layer'")

    layer_name    l1_penalty  accuracy   sparsity
20  last_layer  5.000000e-04     99.03  98.607998
21  last_layer  4.000000e-04     98.98  98.167789
22  last_layer  3.000000e-04     98.95  97.178385
23  last_layer  2.000000e-04     98.89  94.898547
24  last_layer  1.000000e-04     98.98  86.128848
25  last_layer  5.000000e-05     98.87  70.992367
26  last_layer  1.000000e-05     98.87  33.172227
27  last_layer  5.000000e-06     98.67  20.268777
28  last_layer  1.000000e-06     98.73   6.879596
29  last_layer  5.000000e-07     98.83   4.674613